.externalNativeBuild
.gradle
.idea
*.iml
MAVEN
android.keystore
build
local.properties
secrets.properties
.DS_Store
/build
/captures
lib/build/
/app/release
/fastlane/report.xml

# Secretes
signing.properties
google_play_access.json